name: Secure CI Pipeline

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: App syntax check
      run: |
        python -m py_compile app.py

    - name: Run Semgrep SAST
      uses: returntocorp/semgrep-action@v1
      with:
        config: auto
